<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Peeps</title>
</head>
<body>
  <ul>
    {{range .Wisdom}}
      <li>{{uc .Name}} - {{ft .Motto}}</li>
      {{end}}
  </ul>
  <ul>
    {{range .Cars}}
    <li>{{uc .Make}}-{{uc .Make | ft }} - {{.Model}} - {{.Doors}}</li>
    {{end}}
  </ul>
</body>
</html>